* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

:root {
    --blue: #2d9ae2
}

body {
    margin: 40px 400px;
}

main {
    padding: 0;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerBox {
    display: flex;
    border: 2px solid var(--blue);
    border-radius: 12px;
    max-width: 75%;
}

#timer {
    margin-top: 15px;
    margin-left: 120px;
}

#viewHighScores {
    margin: 10px 30px;
    font-size: 20px;
    color: var(--blue);
    /* border: 1px solid var(--blue); */
    /* background: rgb(252, 250, 167); */
}

#quizBox,
#infoBox {
    width: 500px;
    margin-left: 40px;
    max-width: 80%;
    text-align: center;
}

#question {
    font-size: 25px;
    font-weight: 600;
}

.answersList {
    display: grid;
    gap: 5px;
    padding: 10px;
    margin: 20px 0;
    background-color: var(--blue);
}

.buttons {
    font-size: 18px;
    background-color: var(--blue);
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgb(53, 61, 63);
    border-radius: 10px;
}

.buttons:hover {
    background-color: rgb(105, 225, 247);
    cursor: pointer;
}

.buttons:active {
    background-color: var(--blue);
    outline: none;
}

.startBtn {
    margin-top: 60px;
}

.submitInitials, .submitInitials input {
    font-size: 18px;
    padding: 5px;
}

#submitBtn {
    margin-top: 20px;
}

.buttonBox {
    display: flex;
    justify-content: space-evenly;
}

p {
   padding: 5px; 
   line-height: 1.5rem;
}

.hide {
    display: none;
}