*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --blue: #2d9ae2
}

/* button {
    display: block;
    background-color: var(--blue);
} */

.start_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
}

#questions {
    position: absolute;
    top: 30%;
    left: 40%;
    color: black;

}

